.app-main-content {
    width: 100vw;
    height: 200vh;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.app-main-content-container {
    width: 100%;
    height: 100%;
    display: block;

    .sprite-sheet-section {
        width: 100%;
        height: 100vh;
    }

    .content-container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
}

@media  screen and (max-width: 375px) {
    .app-main-content-container {
        .content-container {
            padding: 1rem;
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 475px){
    .app-main-content-container {
        .content-container {
            padding: 0 2.5rem;
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .app-main-content-container {
        .content-container {
            padding: 0 3rem;
        }
    }
}

@media screen and (min-width: 769px) {
    .app-main-content-container {
        .content-container {
            padding: 5rem;
        }
    }
}