$main-color: #11254A;
$secondary-color: #966805;
$third-color: #144196;
$fourth-color: #144196;
$font-color: #EAE6FF;
$color: rgba(black, 0.88);
$font-base: 'Courier New', Courier, monospace;
$card-background: #F1FFFF