.parallaxContainer {
    position: sticky;
    top: 40%;

    .introSpriteSheet {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
        display: block;
    
        .spriteImage {
            width: 500px;
            height: 200px;
            max-width: none;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: calc(50% - 250px);
            background-image: url('../../Assets/Images/spritesheet.png');
        }

        .infiniteAnimation {
            animation-name: sprite;
            animation-duration: 3.5s;
            animation-timing-function: steps(16);
            animation-iteration-count: infinite;
        }

        @keyframes sprite {
            from { background-position: 0px; }
            to { background-position: -8000px; }
        }
    }
}